@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* esconder scrollbar no: chrome, safari, edge, opera */
::-webkit-scrollbar {
  display: none;
}

/* esconder scrollbar no: internet explorer*/
body {
  -ms-overflow-style: none;
}

/* esconder scrollbar no: firefox*/
html {
  scrollbar-width: none;
}

a {
  text-decoration: none;
  list-style: none;
  outline: none;
}

header {
  background-color: #000;
  font-family: "Ubuntu", sans-serif;
  /* Menu de navegação */
}

header #logo {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}

header #logo span {
  color: #dc143c;
}

header .btn-menu {
  border: solid 1px #fff;
}

header .btn-menu>i {
  color: #fff;
}

header ul {
  list-style-type: none;
}

header ul .list-item {
  color: #fff;
}

header ul:hover {
  color: #dc143c;
  transition: 0.65s;
}

/* Home */
.home {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  background-color: #000;
}

.home .text-1 {
  font-size: 27px;
  color: #fff;
}

.home .text-2 {
  font-size: 50px;
  font-weight: 600;
  margin-left: -3px;
  color: #fff;
}

.home .text-3 {
  font-size: 27px;
  margin: 5px 0;
  color: #fff;
}

.home .text-3 span {
  color: #dc143c;
}

.home img {
  height: 100%;
}

.home .mickael1 {
  width: 100%;
  height: 100%;
}

.home #hireBtn {
  background-color: #dc143c;
  color: #fff;
  text-decoration: none;
  width: 50%;
  margin-top: 2%;
}

.home #hireBtn:hover {
  background-color: #aa0b2b;
  transition: 0.5s;
}

.home .scrollButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #dc143c;
  position: fixed;
  z-index: 999;
  cursor: pointer;
  left: 95%;
  top: 80%;
  font-size: 20px;
  color: none;
}

.home .scrollButton:hover {
  background-color: #aa0b2b;
  transition: 0.5s;
}

.home .scrollButton i {
  color: #fff;
  outline: none;
}

#about .aboutTitle {
  font-weight: 700;
  margin-top: 3%;
  margin-bottom: 2%;
  text-align: center;
}

#about .aboutTextContainer {
  margin-top: 10%;
}

#about .aboutTextContainer .aboutText {
  font-size: 18px;
  color: #000;
}

#about .aboutTextContainer #download {
  width: 50%;
  margin-top: 3%;
  color: #fff;
  background-color: #dc143c;
  text-decoration: none;
}

#about .aboutTextContainer #download:hover {
  background-color: #000;
  transition: 0.5s;
}

#about .mickael2 {
  margin-top: 3%;
}

/* Projetos */
.projects {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  background-color: #000;
  height: 1380px;
  /* cards */
}

.projects #projectTitle {
  font-weight: 600px;
  color: #fff;
  font-size: 28px;
  text-align: center;
}

.projects .card {
  width: 50%;
  height: 100%;
  margin-right: 2%;
  background-color: #dc143c;
}

.projects .card:hover {
  transform: translateY(-15px);
  transition: 0.75s;
}

.projects .card .card-title {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
  padding-top: 10px;
  padding-right: 1.5px;
  margin-top: 2%;
  margin-left: 42%;
  font-size: 28px;
  font-weight: 500;
  background-color: #000;
  color: #dc143c;
}

.projects .card .card-subtitle {
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
}

.projects .card .card-text {
  color: #fff;
  font-size: 18px;
}

/* habilidades */
.skills {
  height: 215px;
}

.skills #skillsTitle {
  font-weight: 700;
}

.skills #containerSkills {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

.skills #containerSkills .skillsIcons {
  font-size: 80px;
  cursor: pointer;
}

.skills #containerSkills .skillsIcons:hover {
  font-size: 95px;
  transition: 0.5s;
}

.skills #containerSkills #js {
  color: #f0db4f;
}

.skills #containerSkills #html {
  color: #e34c26;
}

.skills #containerSkills #css {
  color: #2965f1;
}

.skills #containerSkills #bootstrap {
  color: #563d7c;
}

.skills #containerSkills #sass {
  color: #cc6699;
}

/* footer */
.footer {
  height: 205px;
  display: flex;
  font-family: "Ubuntu", sans-serif;
  background-color: #000;
  margin-top: 2%;
}

.footer .footerTitle {
  color: #fff;
  margin-top: 2%;
}

.footer .footerText {
  font-size: 23px;
  color: #fff;
}

.footer #social-icons-content {
  margin-top: 2%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
}

.footer #social-icons-content .btn-footer {
  font-size: 25px;
  height: 45px;
  width: 45px;
  color: #dc143c;
  border: solid 1px #fff;
  border-radius: 20%;
  text-align: center;
  cursor: pointer;
}

.footer #social-icons-content .btn-footer:hover {
  background-color: #fff;
  transition: 0.35s;
}

.footer #social-icons-content .btn-footer .icon {
  color: #dc143c;
  margin-top: 6.5px;
  font-size: 27px;
}

@media (max-width: 375px) {
  body {
    height: 100%;
  }

  .home {
    display: flex;
    flex-direction: column;
    height: 420px;
  }

  .mickael1 {
    display: none;
  }

  .scrollButton {
    display: none !important;
  }

  /* sobre */
  #about {
    height: 460px;
  }

  #about .aboutTextContainer {
    margin-top: 3%;
  }

  #about .mickael2 {
    display: none;
  }

  /* projetos */
  .projects {
    height: 4000px;
    display: flex;
    flex-direction: column;
  }

  .projects .card {
    width: 100%;
    margin-top: 8%;
  }

  /* habilidades */
  .skills {
    height: 160px;
  }

  .skills .skillsIcons {
    font-size: 55px !important;
    cursor: pointer;
  }

  /* footer */
  .footer {
    height: 300px;
  }

  .footer #social-icons-content {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-left: 0;
  }

  .footer #social-icons-content .btn-footer {
    font-size: 28px;
    border: none;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  body {
    height: 100%;
  }

  .home {
    display: flex;
    flex-direction: column;
    height: 420px;
  }

  .mickael1 {
    display: none;
  }

  .scrollButton {
    display: none !important;
  }

  /* sobre */
  #about {
    height: 460px;
  }

  #about .aboutTextContainer {
    margin-top: 3%;
  }

  #about .mickael2 {
    display: none;
  }

  /* projetos */
  .projects {
    height: 3900px;
    display: flex;
    flex-direction: column;
  }

  .projects .card {
    width: 100%;
    margin-top: 8%;
  }

  /* habilidades */
  .skills {
    height: 180px;
  }

  .skills .skillsIcons {
    font-size: 55px !important;
    cursor: pointer;
  }

  /* footer */
  .footer {
    height: 280px;
  }

  .footer #social-icons-content {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-left: 0;
  }

  .footer #social-icons-content .btn-footer {
    font-size: 28px;
    border: none;
  }
}

@media (min-width: 425px) and (max-width: 486px) {
  body {
    height: 100%;
  }

  .home {
    height: 385px;
    display: flex;
    flex-direction: column;
  }

  .mickael1 {
    display: none;
  }

  .scrollButton {
    display: none !important;
  }

  /* sobre */
  #about {
    height: 400px;
  }

  #about .aboutTextContainer {
    margin-top: 3%;
  }

  #about .mickael2 {
    display: none;
  }

  /* projetos */
  .projects {
    height: 3850px;
    display: flex;
    flex-direction: column;
  }

  .projects .card {
    width: 100%;
    margin-top: 8%;
  }

  .projects .card .card-title {
    margin-left: 44%;
  }

  /* habilidades */
  .skills {
    height: 180px;
  }

  .skills .skillsIcons {
    font-size: 55px !important;
    cursor: pointer;
  }

  /* footer */
  .footer {
    height: 250px;
  }

  .footer #social-icons-content {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-left: 0;
  }

  .footer #social-icons-content .btn-footer {
    font-size: 28px;
    border: none;
  }
}

@media (min-width: 486px) and (max-width: 550px) {
  body {
    height: 100%;
  }

  .home {
    height: 335px;
    display: flex;
    flex-direction: column;
  }

  .mickael1 {
    display: none;
  }

  .scrollButton {
    display: none !important;
  }

  /* sobre */
  #about {
    height: 380px;
  }

  #about .aboutTextContainer {
    margin-top: 3%;
  }

  #about .mickael2 {
    display: none;
  }

  /* projetos */
  .projects {
    height: 3770px;
    display: flex;
    flex-direction: column;
  }

  .projects .card {
    width: 100%;
    margin-top: 8%;
  }

  .projects .card .card-title {
    margin-left: 45%;
  }

  /* habilidades */
  .skills {
    height: 180px;
  }

  .skills .skillsIcons {
    font-size: 55px !important;
    cursor: pointer;
  }

  /* footer */
  .footer {
    height: 250px;
  }

  .footer #social-icons-content {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-left: 0;
  }

  .footer #social-icons-content .btn-footer {
    font-size: 28px;
    border: none;
  }
}

@media (min-width: 550px) and (max-width: 576px) {
  body {
    height: 100%;
  }

  .home {
    height: 335px;
    display: flex;
    flex-direction: column;
  }

  .mickael1 {
    display: none;
  }

  .scrollButton {
    display: none !important;
  }

  /* sobre */
  #about {
    height: 380px;
  }

  #about .aboutTextContainer {
    margin-top: 3%;
  }

  #about .mickael2 {
    display: none;
  }

  /* projetos */
  .projects {
    height: 3805px;
    display: flex;
    flex-direction: column;
  }

  .projects .card {
    width: 100%;
    margin-top: 8%;
  }

  .projects .card .card-title {
    margin-left: 45%;
  }

  /* habilidades */
  .skills {
    height: 180px;
  }

  .skills .skillsIcons {
    font-size: 55px !important;
    cursor: pointer;
  }

  /* footer */
  .footer {
    height: 230px;
  }

  .footer #social-icons-content {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-left: 0;
  }

  .footer #social-icons-content .btn-footer {
    font-size: 28px;
    border: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    height: 100%;
  }

  .home {
    height: 335px;
    display: flex;
    flex-direction: column;
  }

  .mickael1 {
    display: none;
  }

  .scrollButton {
    display: none !important;
  }

  /* sobre */
  #about {
    height: 380px;
  }

  #about .aboutTextContainer {
    margin-top: 3%;
  }

  #about .mickael2 {
    display: none;
  }

  /* projetos */
  .projects {
    height: 3800px;
    display: flex;
    flex-direction: column;
  }

  .projects .card {
    width: 100%;
    margin-top: 8%;
  }

  .projects .card .card-title {
    margin-left: 45%;
  }

  /* habilidades */
  .skills {
    height: 180px;
  }

  .skills .skillsIcons {
    font-size: 55px !important;
    cursor: pointer;
  }

  /* footer */
  .footer {
    height: 230px;
  }

  .footer #social-icons-content {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-left: 0;
  }

  .footer #social-icons-content .btn-footer {
    font-size: 28px;
    border: none;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  body {
    height: 100%;
  }

  .home {
    height: 400px;
    display: flex;
  }

  .mickael1 {
    display: block;
    width: 100%;
    height: 100%;
  }

  .scrollButton {
    display: none !important;
  }

  /* sobre */
  #about {
    height: 450px;
  }

  #about .aboutTextContainer {
    margin-top: 3%;
  }

  #about .mickael2 {
    display: block;
  }

  /* projetos */
  .projects {
    height: 3920px;
    display: flex;
    flex-direction: column;
  }

  .projects .card {
    width: 100%;
    margin-top: 8%;
  }

  .projects .card .card-title {
    height: 55px;
    margin-left: 46%;
    padding-top: 5.5px;
  }

  /* habilidades */
  .skills {
    height: 180px;
  }

  .skills .skillsIcons {
    font-size: 55px !important;
    cursor: pointer;
  }

  /* footer */
  .footer {
    height: 230px;
  }

  .footer #social-icons-content {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-left: 0;
  }

  .footer #social-icons-content .btn-footer {
    font-size: 28px;
    border: solid 1px #fff;
    border-radius: 20%;
  }
}

@media (min-width: 991.98px) and (max-width: 1200px) {

  /* Projetos */
  .projects {
    height: 1450px;
  }

  /* footer */
  .footer {
    height: 250px;
  }

  .scrollButton {
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */